<footer id="footer">
	<div class="contain-section">
		<footer>
			<div class="con-1">
				<div class="logo">
					<a href="#">
						<img src="/assets/img/light-logo.svg" alt="logo">
					</a>
				</div>
				<p>
					{{ data.footer.content }}
				</p>
			</div>
			<div class="con-2">
				<h2 class="column-heading">{{ data.footer.titles.map }}</h2>
				<ul>
					<li><a href="#">{{ data.menu.home }}</a></li>
					<li><a href="#">{{ data.menu.skills }}</a></li>
					<li><a href="#">{{ data.menu.about }}</a></li>
					<li><a href="#">{{ data.menu.projects }}</a></li>
					<li><a href="#">{{ data.menu.contact }}</a></li>
				</ul>
			</div>
			<div class="con-4">
				<h2 class="column-heading">{{ data.footer.titles.social }}</h2>
				<ul>
					<li><a href="https://twitter.com/Erick_Dreadful" target="_blank"><i class="fab fa-twitter-square  fa-2x"></i></a></li>
					<li><a href="https://www.linkedin.com/in/erick-a-alva-vazqu%C3%A9z-392516204" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a></li>
					<li><a href="https://github.com/ErickCodeman93" target="_blank"><i class="fab fa-github  fa-2x"></i></a></li>
				</ul>
			</div>
		</footer>
	</div>
</footer>
<section id="copyright">
	<div class="contain-section">
		<p>@ Erick Alva {{ getAnio }}</p>
	</div>
</section>